<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       ">

 	<bean id="feedDirectory"
		class="java.io.File">
		<constructor-arg value="test-repo" />
	</bean>


 	<bean id="retrieverQueue"
		class="java.util.concurrent.LinkedBlockingQueue" >
	</bean>

 	<bean id="distributionQueue"
		class="java.util.concurrent.LinkedBlockingQueue">
	</bean>


 	<bean id="feedRetriever"
		class="se.vgregion.push.processors.FeedRetriever"
		init-method="start"
		destroy-method="stop">
		<constructor-arg ref="retrieverQueue" />
		<constructor-arg ref="distributionQueue" />
		<constructor-arg ref="feedDirectory" />
	</bean>

 	<bean id="feedDistributor"
		class="se.vgregion.push.processors.FeedDistributor"
		init-method="start"
		destroy-method="stop">
		<constructor-arg ref="distributionQueue" />
		<constructor-arg ref="feedDirectory" />
	</bean>

</beans>
